.myTeam {
    width: 100%;
    height: 640px;
    background: #F2FFFA;
    &__title {
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #6EAE7F;
        padding-top: 50px;
    }
    &__cards {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
    &__member {
        width: 300px;
        height: 400px;
        background: #FEFEFE;
        text-align: center;
        img {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin: 25px 0px;
        }
    }
}

.carousel {
    display: block;
    margin: 0 auto;
    max-width: 265px;
}

.mobile-carousel {
    display: none;
}

.member {
    &__position {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #444444;
    }
    &__name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #444444;
        margin-top: 15px;
        margin-top: 10px;
    }
}
