section.myTeam
    p.myTeam__title My team 
    .myTeam__cards
        .myTeam__member
            img(src="../assets/images/irina_photo.png", alt="member_photo")
            p.member__name Iren Zoria
            p.member__position Project manager
        .myTeam__member
            img(src="../assets/images/alyona_photo.png", alt="member_photo")
            p.member__name Alyona Narozhna
            p.member__position FE Developer
        .myTeam__member
            img(src="../assets/images/andrii_photo.png", alt="member_photo")
            p.member__name Andrii Palii
            p.member__position UX/UI Designer
    #carouselExampleControls.carousel.slide.mobile-carousel(data-ride='carousel')
        .carousel-inner
            .carousel-item.active.active-carousel
                .myTeam__member.d-block.w-60
                    img(src="../assets/images/irina_photo.png", alt="member_photo")
                    p.member__name Iren Zoria
                    p.member__position Project manager
            .carousel-item.active-carousel
                .myTeam__member
                    img(src="../assets/images/alyona_photo.png", alt="member_photo")
                    p.member__name Alyona Narozhna
                    p.member__position FE Developer
            .carousel-item.active-carousel
                .myTeam__member
                    img(src="../assets/images/andrii_photo.png", alt="member_photo")
                    p.member__name Andrii Palii
                    p.member__position UX/UI Designer
        a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
