.about-me {
    background: url(../assets/images/bg-second.png) no-repeat;
    width: 100%;
    height: 620px;
    background-size: 100%;
    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        width: 201px;
        height: 60px;
        color: #6EAE7F;
        padding-bottom: 32px;
        margin: auto;
    }
    &__information {
        display: flex;
        justify-content: center;
    }
    &__text {
        width: 466px;
        height: 140px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        margin-top: 69px;
    }
    &__photo img {
        width: 496px;
        height: 332px;
        margin-left: 31px;
        margin-top: 20px;
        
    }
}
