section#about_me.about-me
    p.about-me__title About me 
    .about-me__information
        .about-me__text
            P I’m currently studying at Vinnytsia National Technical University.I like what I’m learning, it’s really exciting. My biggest hobby is singing, second biggest hobby is sport. Those two things that I love the most and like to enjoy doing every day.
        .about-me__photo
            img(src="../assets/images/second-photo.jpg", alt="")