section#myWorks.works
    .works__title My works
    .works__list
        .works__item
            .works__item-upper
                span.site__name Simple & Modern
                span.site__description  This is my third experience coding on PUG, SCSS and JS, compiled using GULP
                div.site__link
                    a.site__link-title(href="../assets/project/secondEXAM/dev/index.html" target ="_blank") Go to the website
            img(src="../assets/images/monticello.png", alt="", srcset="")
        .works__item
            .works__item-upper
                span.site__name Resume
                span.site__description This is my first experience coding. Only used HTML and CSS.
                div.site__link
                    a.site__link-title(href="../assets/project/cv-Narozhna/cv-narozhna.html" target ="_blank") Go to the website
            img(src="../assets/images/cv.png", alt="", srcset="")
        .works__item
            .works__item-upper
                span.site__name Bhromaon
                span.site__description This is my second experience coding on PUG and SCSS compiled using GULP.
                div.site__link
                    a.site__link-title(href="../assets/project/alyona-proect/dev/index.html" target ="_blank") Go to the website
            img(src="../assets/images/Travel.png", alt="", srcset="")
    #carouselExampleControls.carousel.slide.mobile-carousel(data-ride='carousel')
        .carousel-inner
            .carousel-item.active.active-carousel
                .works__item.d-block.w-60
                    .works__item-upper
                        span.site__name Simple & Modern
                        span.site__description This is my third experience coding on PUG, SCSS and JS, compiled using GULP
                        div.site__link
                            a.site__link-title(href="../assets/project/secondEXAM/dev/index.html" target ="_blank") Go to the website
                    div.site__link-mobile
                        a.site__link-title(href="../assets/project/secondEXAM/dev/index.html" target ="_blank") Go to the website
                    img(src="../assets/images/monticello.png", alt="", srcset="")
            .carousel-item.active-carousel
                .works__item
                    .works__item-upper
                        span.site__name Resume
                        span.site__description This is my first experience coding. Only used HTML and CSS.
                    div.site__link-mobile
                        a.site__link-title(href="../assets/project/cv-Narozhna/cv-narozhna.html" target ="_blank") Go to the website
                    img(src="../assets/images/cv.png", alt="", srcset="")
            .carousel-item.active-carousel
                .works__item
                    .works__item-upper
                        span.site__name Bhromaon
                        span.site__description This is my second experience coding on PUG and SCSS compiled using GULP.
                    div.site__link-mobile
                        a.site__link-title(href="../assets/project/alyona-proect/dev/index.html" target ="_blank") Go to the website
                    img(src="../assets/images/Travel.png", alt="", srcset="")
        a.carousel-control-prev(href='#carouselExampleControls', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
    //- .components components
    //- .components__rectangle
