.works {
    background: url(../assets/images/bg-third.png);
    background-size: cover;
    height: fit-content;
    background-repeat: no-repeat;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #6EAE7F;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        padding-top: 100px;
    }
    &__list {
        height: 300px;
        display: flex;
        width: 970px;
        justify-content: space-around;
        margin-top: 200px;
        margin-bottom: 50px;
    }
    &__item {
        &-upper {
            width: 300px;
            height: 300px;
            background: #EDFFF7;
            opacity: 0.9;
            position: absolute;
            margin: 0px 17.5px;
            display: none;
            padding-top: 30px;
            text-align: center;
        }
        img {
            width: 300px;
            height: 300px;
            margin: 0px 17.5px;
            box-shadow: 0 0 10px rgb(110, 174, 127);
        }
    }
}

// .components {
//     font-family: Poppins;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 24px;
//     line-height: 36px;
//     color: #444444;
//     width: 158px;
//     height: 36px;
//     margin-top: 80px;
//     &__rectangle {
//         width: 1170px;
//         height: 500px;
//         background: #EDFFF7;
//         margin-top: 40px;
//         margin-bottom: 100px;
//         position: relative;
//     }
    
// }

.works__item:hover .works__item-upper{
    display: block;
}

.site {
    &__name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        display: block;
    }
    &__link {
        background: rgb(255, 255, 255);
        width: 300px;
        height: 46px;
        margin-top: 112.5px;
        text-align: center;
        padding: 10px;
        &-title {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            color: #444444;
        }
    }
    &__description {
        width: 260px;
        height: 75px;
        display: block;
        margin: auto;
        padding-top: 37px;
    }
}

