@import url("FONT/stylesheet.css");
* {
    box-sizing: border-box;
}

html {
    color: #000;
    font: 400 16px/1.3 "Myriad Pro";
}

body {
    margin: 0;
}

p {
    margin: 0;
}


p ~ p {
    margin-top: 15px;
}

.main-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1122px;
    width: 95%;
}

.main-block__left > *,
.main-block__right > * {
    padding: 25px 0;
}

.main-block__left,
.main-block__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .main-block__left
 {
        width: calc(412 / 1122 * 100%);
    }

    .main-block__right {
        width: calc(640 / 1122 * 100%);
    }
}

.title:not(.title_sub):not(.sub_title) {
    align-items: center;
    color: #3d6cb0;
    display: flex;
    font-size: 30px;
}

@media screen and (min-width: 1024px) {
    .title:not(.title_sub):not(.sub_title) {
        font-size: 41px;
    }
}

.title:not(.title_sub):after {
    background-color: currentColor;
    content: "";
    flex-grow: 1;
    height: 5px;
}


.title:not(.title_sub):before {
    border-radius: 50%;
    border: 1px solid currentColor;
    flex-shrink: 0;
    font-size: 32px;
    padding: 3px;
}

.personal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.personal-details__photo {
    border-radius: 50%;
    position: relative;
    height: 100px;
    margin: auto;
    overflow: hidden;
    width: 100px;
}

@media screen and (min-width: 1024px) {
    .personal-details__photo {
        border-radius: 50%;
        position: relative;
        height: 200px;
        margin: auto;
        overflow: hidden;
        width: 200px;
    }
}

.personal-details__photo img {
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;

}

.personal-details__border {
    border-radius: 50%;
    border: solid #3d6cb0 1.5px;
    width: fit-content;
    padding: 6.5px;
    align-self: center;
    
}

@media screen and (min-width: 1024px) {
    .personal-details__border {
        border-radius: 50%;
        border: solid #3d6cb0 3px;
        width: fit-content;
        padding: 15px;
        align-self: center;
        
    }
    
}
.personal-details__first-name,
.personal-details__position {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personal-details__first-name {
    font-size: 30px;
    font-weight: 300;
}

@media screen and (min-width: 1024px) {
    .personal-details__first-name {
        font-size: 52px;
    }
}

.personal-details__position {
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .personal-details__position {
        font-size: 25px;
    }
}

.personal-deatails__title {
    font-size: 30px;
    margin: 35px 0 0;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .personal-deatails__title {
        font-size: 62px;
    }
}

.icon_skills:before {
    background-image: url(assets/icons/skills.png);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: contain;
    content:" ";
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .icon_skills:before {
        background-image: url(assets/icons/skills.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content:" ";
        width:60px;
        height:60px;
    }
}

.icon_phone:before {
    background-image: url(assets/icons/phone.png);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: contain;
    content:" ";
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .icon_phone:before {
        background-image: url(assets/icons/phone.png);
        background-position: center center;;
        background-repeat: no-repeat;
        background-size: contain;
        content:" ";
        width:60px;
        height:60px;
    }
}
.icon_user:before {
    background-image: url(assets/icons/profile.png);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: contain;
    content:" ";
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .icon_user:before {
        background-image: url(assets/icons/profile.png);
        background-position: center center;;
        background-repeat: no-repeat;
        background-size: contain;
        content:" ";
        width:60px;
        height:60px;
    }
}

.icon_star:before {
    background-image: url(assets/icons/education.png);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: contain;
    content:" ";
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .icon_star:before {
        background-image: url(assets/icons/education.png);
        background-position: center center;;
        background-repeat: no-repeat;
        background-size: contain;
        content:" ";
        width:60px;
        height:60px;
    }
}

.icon_suitcase:before {
    background-image: url(assets/icons/experience.png);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: contain;
    content:" ";
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .icon_suitcase:before {
        background-image: url(assets/icons/experience.png);
        background-position: center center;;
        background-repeat: no-repeat;
        background-size: contain;
        content:" ";
        width:60px;
        height:60px;
    }
}

.icon_laptop:before {
    background-image: url(assets/icons/software.png);
    background-position: center center;;
    background-repeat: no-repeat;
    background-size: contain;
    content:" ";
    width: 30px;
    height: 30px;
}

@media screen and (min-width: 1024px) {
    .icon_laptop:before {
        background-image: url(assets/icons/software.png);
        background-position: center center;;
        background-repeat: no-repeat;
        background-size: contain;
        content:" ";
        width:60px;
        height:60px;
    }
}


.contact__information {
    overflow: auto;
}

.contact__list {
    font-style: normal;
    font-size: 21px;
}

.contact__mark {
    color: #3d6cb0;
    font-weight: 700;
    padding-right: 40px;
    text-transform: uppercase;
}

.contact__mark,
.contact__value {
    padding-top: 40px;
}

.contact__link {
    color: currentColor;
    text-decoration: none;
}

.skills-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.skills__levels {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 28%;
    align-items: center;
}

.active {
    color: #3d6cb0;
}

.skills__levels li {
    color: #e6e6e6;
}

.experience__topic ul li,
.education__topic ul li {
    list-style: none;
} 

.title_sub {
    margin-left: 12px;
    margin-top: 20px;
    padding-left: 40px;
    position: relative;
}

.title_sub:before {
    background-color: #000000;
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 20px;
}

.title__bold_blue,
.title__bold_black {
    font-weight: 700;
    text-transform: uppercase;
}

.title__do-not-transform {
    text-transform: none;
    font-weight: normal;
}

.title__new-line {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}


@media screen and (min-width: 1024px) {
    .title__bold_blue,
    .title__bold_black,
    .title_sub, {
        font-size: 26px;
    }
}

.title__bold_blue {
    color: #3d6cb0;
}

.software__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.software__block {
    margin-top: 30px;
    width: calc(50% - 15px);
}

@media screen and (min-width: 1024px) {
    .software__block {
        width: calc(50% - 35px);
    }
}

.file {
    -webkit-appearance: none;
    appearance: none;
    height: 23px;
    width: 100%;
}

.file[value]::-webkit-progress-bar {
    background: #e6e6e6;
}

.file[value]::-webkit-progress-value {
    background: #3d6cb0;
}
 