.skills {
    background: #EDFFF7;
    width: 100%;
    height: 746px;
    display: flex;
    flex-direction: column;
    &__title {
        width: 106px;
        height: 60px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 60px;
        color: #6EAE7F;
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
    }
    &__item {
        width: 230px;
        height: 54px;
        background: #EDFFF7;
        border-radius: 15px;
        text-align: center;
        padding-top: 8.5px;
        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            width: 148px;
            height: 36px;
            color: #444444;
        }
    }
    p {
        height: 60px;
        width: 100%;
        justify-content: center;
    }
    
}

.nav {
    display: flex;
    justify-content: space-around;
}

.skills__item a:hover {
    text-decoration: none;
    color: #6EAE7F;
}

.skills__item a:active {
    background-color:  #6EAE7F;
    color: white!important;
    width: 230px;
    height: 54px;
    padding: 9px 41px;
    border-radius: 15px;
}

// .active:not(.active-carousel .nav-link) {
//     background-color:  #6EAE7F;
//     color: white!important;
//     width: 230px;
//     height: 54px;
//     padding: 9px 41px;
//     border-radius: 15px;
// }

.tab-pane {
    background: none;
}

.progress {
    &__bg {
        background: #D8F3E8;
        justify-content: flex-start;
        border-radius: 15px;
        align-items: center;
        position: relative;
        display: flex;
        height: 30px;
        width: 500px;
        margin: 40px;
    }
    &__line {
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-top: 50px;
        &_title {
            margin: auto;
        }
        &-title {
            display: flex;
            text-align: center;
            align-items: center;
            margin: auto;
            div {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 36px;
            }
            .comunication {
                margin-right: 65px;
            }
            .teamwork {
                margin-right: 112px;
            }
            .creative {
                margin-right: 135px;
            }
            .innovate {
                margin-right: 131px;
            }
        }
    }
    &-value {
        &-first {
            animation: load 3s normal forwards;
            box-shadow: 0 10px 40px -10px #fff;
            border-radius: 100px;
            background: #6EAE7F;
            height: 30px;
            width: 0;
        }
        &-second {
            animation: load2 3s normal forwards;
            box-shadow: 0 10px 40px -10px #fff;
            border-radius: 100px;
            background: #6EAE7F;
            height: 30px;
            width: 0;
        }
        &-third {
            animation: load3 3s normal forwards;
            box-shadow: 0 10px 40px -10px #fff;
            border-radius: 100px;
            background: #6EAE7F;
            height: 30px;
            width: 0;
        }
        &-four {
            animation: load4 3s normal forwards;
            box-shadow: 0 10px 40px -10px #fff;
            border-radius: 100px;
            background: #6EAE7F;
            height: 30px;
            width: 0;
        }
    }
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}

@keyframes load2 {
    0% {
        width: 0;
    }
    100% {
        width: 74%;
    }
}

@keyframes load3 {
    0% {
        width: 0;
    }
    100% {
        width: 68%;
    }
}

@keyframes load4 {
    0% {
        width: 0;
    }
    100% {
        width: 88%;
    }
}

.mobile__skills {
    display: none;
}

.canvas {
    &-mobile {
        display: none;
    }
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
    height: fit-content;
    justify-content: center;
}


.circle {
    display: block;
    margin: 50px 35px 20px 35px;
    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #444444;
    }
}

// .container {
//     &-upper {
//         display: flex;
//         width: 800px;
//         justify-content: space-around;
//         flex-wrap: wrap;
//     }
//     &-bottom {
//         display: flex;
//         width: 800px;
//         justify-content: space-around;
//         flex-wrap: wrap;
//     }
// }

.circles-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold!important;
    font-size: 24px!important;
    line-height: 36px;
    color: #444444!important;
}

.rank-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .rank-item {
        position: relative;
        width: fit-content;
        height: fit-content;
        transition: 1s;
        .empty-star {
            width: 28.37px;
            height: 27.11px;
        }
        .fill-star {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            opacity: 0;
            width: 28.37px;
            height: 27.11px;
        }
    }
}

.no-opacity {
    opacity: 1!important;
    transition: opacity 1s!important;
}

.container {
    &__stars {
        padding-top: 75px;
        display: flex;
        max-width: 970px;
        margin: auto;
        justify-content: space-around;
        &-mobile {
            display: none;
        }
        &-title {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 45px;
            color: #444444;
            margin-top: 40px;
            margin-bottom: 34.45px;
            display: block;
        }
        &-bg {
            width: 300px;
            height: 200px;
            background: #FEFEFE;
            box-shadow: 0 0 10px rgb(110, 174, 127);
            text-align: center;
        }
    }
}
