section#skills.skills
    p.skills__title Skills
    .container
        ul.nav.nav-pills(role='tablist')
            li.skills__item#first-item
                a(href='#professional', role='tab', data-toggle='pill') professional
            li.skills__item
                a#personalTab(href='#personal', role='tab', data-toggle='pill') personal
            li.skills__item
                a#languageTab(href='#language', role='tab', data-toggle='pill') language
        .tab-content
            #personal.tab-pane.fade(role='tabpanel')
                    .progress__line
                        .progress__line-title
                            div.comunication Comunication
                            .progress__bg
                                .progress-value-first
                        .progress__line-title
                            div.teamwork Teamwork
                            .progress__bg
                                .progress-value-second
                        .progress__line-title
                            div.creative Creative
                            .progress__bg
                                .progress-value-third
                        .progress__line-title
                            div.innovate Innovate
                            .progress__bg
                                .progress-value-four
            #professional.tab-pane.active.show.fade(role='tabpanel' value="reload")
                .canvas#myCanvas
                    .circle__container
                        #circles-1.circle
                        span.circle__title html
                    .circle__container
                        #circles-2.circle
                        span.circle__title css
                    .circle__container
                        #circles-3.circle
                        span.circle__title js
                    .circle__container
                        #circles-4.circle
                        span.circle__title gulp
                    .circle__container
                        #circles-5.circle
                        span.circle__title git
                    .circle__container
                        #circles-6.circle
                        span.circle__title pug
                    .circle__container
                        #circles-7.circle
                        span.circle__title sass
                    .circle__container
                        #circles-8.circle
                        span.circle__title photoshop
            #language.tab-pane.fade.in(role='tabpanel')
                .container__stars
                    .container__stars-bg
                        span.container__stars-title Ukranian
                        .rank-item-wrapper
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .container__stars-bg
                        span.container__stars-title English
                        .rank-item-wrapper
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .container__stars-bg
                        span.container__stars-title Russian
                        .rank-item-wrapper
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                            .rank-item
                                img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                                img.fill-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
    .mobile__skills
        .progress__line_title Personal
        .progress__line
            span Comunication
            .progress__bg
                .progress-value-first
            span Teamwork
            .progress__bg
                .progress-value-second
            span Creative
            .progress__bg
                .progress-value-third
            span Innovate
            .progress__bg
                .progress-value-four
    .canvas-mobile#myCanvas
            .circle__container
                #circles-1.circle
                span.circle__title html
            .circle__container
                #circles-2.circle
                span.circle__title css
            .circle__container
                #circles-3.circle
                span.circle__title js
            .circle__container
                #circles-4.circle
                span.circle__title gulp
            .circle__container
                #circles-5.circle
                span.circle__title git
            .circle__container
                #circles-6.circle
                span.circle__title pug
            .circle__container
                #circles-7.circle
                span.circle__title sass
            .circle__container
                #circles-8.circle
                span.circle__title photoshop
    .container__stars-mobile#star
        .container__stars-mobile__title Language
            .container__stars-bg
                span.container__stars-title Ukranian
                .rank-item-wrapper
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
            .container__stars-bg
                span.container__stars-title English
                .rank-item-wrapper
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
            .container__stars-bg
                span.container__stars-title Russian
                .rank-item-wrapper
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star.checked-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
                    .rank-item
                        img.empty-star(src="../assets/images/empty-star.png", alt="empty-rank-star")
                        img.fill-star(src="../assets/images/fill-star.png", alt="empty-rank-star")
