section.experience
    .education
        .education__item
            span.education__item-title  Education
            .education__item-text
                p 2024
                p.text__wrap Bachelor Degree VNTU
        .education__item
            span.education__item-title Diplomas
            .education__item-text
                p 2020
                p.text__wrap Front-end developer Beetroot Academy
        .education__item.border-right
            span.education__item-title  Experience
            .education__item-text
                p 2020
                p.text__wrap Comming soon