.education {
    width: 972px;
    height: 240px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    &__item {
        border-left: 1px solid #6EAE7F;
        height: 120px;
        padding: 0px 40px;
        text-align: center;
        &-text {
            display: flex;
            margin-top: 41px;
            p {
                padding-right: 15px;
            }
        }
        &-title  {
            color: #444444;
            font-family: 'Poppins';
            font-style: normal;
            line-height: 36px;
            font-weight: normal;
            font-size: 24px;
            width: 114px;
            height: 36px;
        }
    }
}

.experience {
    width: 100%;
    height: 240px;
    background: #EDFFF7;
    display: flex;
    justify-content: center;
}

.education__item.border-right {
    border-right: 1px solid #6EAE7F!important;
    height: 120px;
}

.text__wrap {
    flex-wrap: wrap;
    width: 186px;
}