.header
    //- .logo
    //-     a(href="http://")
    //-         img(src="../assets/logo/logo.png", alt="logo-img")
    //- nav.navigation
    //-     ul.navigation__list
    //-         li.navigation__item
    //-             a(href="http://")
    //-                 | about me
    //-         li.navigation__item
    //-             a(href="http://")
    //-                 | skills
    //-         li.navigation__item
    //-             a(href="http://")
    //-                 | my works
    //-         li.navigation__item
    //-             a(href="http://")
    //-                 | contacts
    .container-fluid
        .wrapper
            nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-nav
                a.navbar-brand.logo(href='#')
                    img(src="../assets/logo/logo.png", alt="logo-img")
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
                    .navbar-nav
                        a.nav-item.nav-link.active(href='#introduction')
                            |about me
                            span.sr-only (current)
                        a.nav-item.nav-link(href='#skills') skills
                        a.nav-item.nav-link(href='#myWorks') my works
                        a.nav-item.nav-link(href='#contacts') contacts
section#introduction.introduction
    .personal__details-mobile
        .radius
            img(src="../assets/images/myPhoto.png", alt="personal-photo")
        .circle__one
    .personal__details
        .personal__details-photo
            img(src="../assets/images/personal_photo.jpg", alt="personal-photo")
        .personal__details-title
            h2.personal__details-welcome Hi, I am
            h1.personal__details-name ALYONA NAROZHNA
            p.personal__details-position Front-end developer
    .arrow-down
        a(href="#about_me")
            img(src="../assets/images/arrow-down.png", alt="arrow-down")