.introduction {
    width: 100%;
    height: 780px;
    background: url(../assets/images/bg.png);
    background-repeat: no-repeat;
    background-color: #FEFEFE;
    background-size: cover;
}

.header {
    width: 100%;
    height: 80px;
    background: #FEFEFE;
    opacity: 0.9;
    position: relative;
    z-index: 1000;
}

.bg-nav {
    background: rgba(241, 255, 245, 0.3);
}

a {
    font-style: normal;
    color: black!important;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    margin-right: 19px;
}

a:hover {
    color: #6EAE7F!important;
    cursor: pointer;
}

.personal__details {
    display: flex;
    justify-content: center;
    &-mobile{
        display: none;
        overflow-x: hidden;
    }
    &-photo img {
        width: 400px;
        height: auto;
        border-radius: 50%;
        margin: 75px 99px 248px 149px;
        box-shadow: 0 0 50px #F1FFF5; 
    }
    &-title {
        margin: 124px 122px 411px 0px;
    }
    &-welcome {
        width: 142px;
        height: 60px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 60px;
        color: #6EAE7F;
        width: 142px;
        height: 60px;
    }
    &-name {
        width: 503px;
        height: 75px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 75px;
        color: #6EAE7F;
    }
    &-position {
        width: 186px;
        height: 27px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        margin-top: 23px;
    }
}

.radius img {
    width: 200px;
    height: 400px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    background: mistyrose;
}

.circle__one {
    width: 330px;
    height: 340px;
    background: #F1FFF5;
    opacity: 0.8;
    border-radius: 50%;
}

.arrow-down {
    width: 48px;
    height: 58px;
    margin: -250px auto;
}


