
@media screen and (max-width: 1280px) {
    .main {
        overflow: hidden;
    }

    .arrow__up {
        margin-left: 4%;
        margin-right: 0px;
    }

    .personal__details-title {
        margin-right: 10px 0px;
    }

    footer .logo {
        margin-left: 6%;
        width: fit-content;
    }

    .social {
        &__title {
        margin-left: 17%;
        }
        &__icon {
            margin-left: 6%;
        }
    }

    .works__list {
        margin-top: 100px;
    }

    .about-me__photo {
        width: 363;
        height: 216;
        img {
            width: 363;
            height: 216;
            margin-left: auto;
        }
    }
     .components__rectangle {
        width: 970px;
        height: 500px;
    }
}

@media screen and (max-width: 1050px) {
    .arrow-down {
        margin: 0px auto;
    }

    .introduction {
        height: fit-content;
        padding-bottom: 60px;
    }

    .social {
        &__title {
            display: none;
        }
        &__icon {
            margin-left: 18%;
        }
    }

    footer .logo img{
        width: 60;
        height: 50px;
    }

    .components__rectangle {
        width: 850px;
        height: 400px;
    }

    .works {
        &__item {
            width: 250px;
            height: 250px;
            margin: 3px;
            &-upper {
                width: 250px;
                height: 250px;
                margin: 3px;
            }
            img {
                width: 250px;
                height: 250px;
                margin: 3px;
            }
        }
    }

    .site__link {
        width: 250px;
        height: 40px;
        margin-top: 70px;
    }

    .education__item,
    .education__item.border-right {
        padding: 19px;
        height: 170px;
    }

    .about-me {
        &__information {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            margin-bottom: 15px;
            text-align: center;
            margin-top: 20px;
        }
        &__photo img{
            padding-bottom: 15px;
        }
    }

    .personal__details {
        &-photo {
            margin: 35px 35px 0px 130px;
            img {
                width: 350px;
                height: auto;
                margin-bottom: 26px;
            }
        }
        &-welcome {
            font-size: 30px;
            height: 45px;
        }
        &-title {
            margin-bottom: 120px;
        }
        &-name {
            font-size: 33px;
            width: 401px;
        }
        &-position {
            font-size: 16px;
            line-height: 15px;
            margin-top: 0px;
        }
        .container__stars-bg {
            width: 400px;
        }
    }

@media screen and (max-width: 940px) {
    .container__stars-bg {
        width: 300px;
    }

    .comunication {
        margin-right: 32.5px;
    }
    .teamwork {
        margin-right: 56px;
    }
    .creative {
        margin-right: 67.5px;
    }
    .innovate {
        margin-right: 65.5px;
    }

    .myTeam {
        height: fit-content;
        &__cards {
            flex-wrap: wrap;
        }
        &__member {
            margin: 10px 5px;
        }
    }
    .components__rectangle {
        width: 800px;
        height: 400px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .works {
        &__item img {
            width: 250px;
            height: 250px;
        }
        &__list {
            width: fit-content;
        }
    }

    .education__item,
    .education__item.border-right{
        padding: 0px 15px;
        height: 140px;
    }

    .about-me {
        height: fit-content;
        text-align: center;
        &__photo img {
            width: 350px;
            height: 270px;
            margin-left: 30px;
        }
    }

    .personal__details

    .introduction {
        height: fit-content;
    }

    .personal__details {
        &-welcome {
            font-size: 27px;
            width: 100px;
            height: 34px;
        }
        &-photo {
            margin-left: 80px;
            margin-right: 0px;
            img {
                width: 320px;
            }
        }
        &-name {
            font-size: 30px;
            width: 403px;
        }
        &-position {
            font-size: 15px;
            line-height: 0px;
            height: 0px;
            width: 160px;
            margin-top: 0px;
        }
    }
    .circle {
        display: block;
        margin: 50px 15px 20px 15px;
    }

    .canvas {
        width: 680px;
    }
}

@media screen and (max-width: 840px) {
    .progress__line-title {
        flex-direction: column;
        text-align: center;
    }

    .components__rectangle {
        width: 650px;
        height: 400px;
        margin-bottom: 30px;
    }

    .education__item,
    .education__item.border-right {
        width: fit-content;
        border-left: none;
        border-right: none!important;
        border-bottom: 1px solid #6EAE7F;
        margin: 15px;
        height: fit-content;
    }

    .education{
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: fit-content;
        margin-bottom: 100px;
        height: fit-content;
        margin-top: 100px;
    }

    .experience {
        height: fit-content;
        padding-top: 110px;
    }

    .works {
        height: fit-content;
        margin-bottom: 90px;
        &__list {
            flex-direction: column;
            margin-top: 297px;
            margin-bottom: 200px;
        }
        &__title {
            padding-top: 45px;
        }
    }

    .nav-item {
        border-bottom: 1px solid #6EAE7F;
    }

    .canvas {
        width: 500px;
    }

    .skills {
        height: fit-content;
        &__item {
            width: auto;
        }
    }

    .container__stars-bg {
        margin: 6px;
    }
}

@media screen and (max-width: 740px) {
    .mobile__skills {
        display: block;
    }

    .progress {
        &__line {
            span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 21px;
                margin: auto;
            }
            &_title {
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 25px;
            }
        }
        &__bg {
            width: 350px;
            height: 30px;
            margin: 30px auto;
        }
        &-value {
            &-first {
                animation: load 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 30px;
                width: 0;
            }
            &-second {
                animation: load2 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 30px;
                width: 0;
            }
            &-third {
                animation: load3 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 30px;
                width: 0;
            }
            &-four {
                animation: load4 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 30px;
                width: 0;
            }
        }
    }

    footer .logo {
        display: none;
    }

    .arrow__up {
        margin-left: 4%;
        margin-right: 15px;
    }

    .social__icon {
        margin-left: 10%;
    }

    .components__rectangle {
        width: 400px;
        height: 300px;
    }
    
    .about-me {
        &__photo img {
            margin-left: 0px;
        }
        &__text {
            width: 400px;
            height: fit-content;
            text-align: center;
            margin-top: 19px;
        }
        &__title {
            font-size: 35px;
            width: 185px;
        }
    }

    .skills__title {
        font-size: 35px;
        width: 120px;
    }

    .works__title {
        font-size: 35px;
        width: 180px;
    }

    .myTeam__title {
        font-size: 35px;
        width: 180px;
        margin: auto;
    }

    .personal__details-photo 
    .personal__details {
        &-photo {
            margin-left:310px;
            margin-bottom: 0px;
            width: 200px;
            height: auto;
            img {
                width: 250px;
                height: auto;
                margin: 5px;
            }
        }
        &-title {
            margin: 90px 150px 170px 60px;
        }
        &-welcome {
            font-size: 20px;
            height: 20px;
        }
        &-name {
            font-size: 24px;
            height: 63px;
        }
        &-position {
            font-size: 13px;
        }
    }

    .introduction {
        padding-bottom: 27px;
    }

    .container {
        display: none;
    }

    // .canvas-mobile {
    //     margin-top: 20px;
    //     display: flex;
    //     flex-wrap: wrap;
    //     width: 300px;
    //     margin: auto;
    //     height: fit-content;
    //     justify-content: center;
    // }
    
    // .circle {
    //     display: block;
    //     margin: 25px 8px 20px 8px;
    //     &__container {
    //         display: flex;
    //         flex-direction: column;
    //     }
    //     &__title {
    //         font-size: 15px;
    //         line-height: 20px;
    //     }
    // }
    .container {
        &__stars {
            display: none;
            &-mobile {
                padding-top: 75px;
                display: flex;
                flex-wrap: wrap;
                max-width: 970px;
                justify-content: space-around;
                &__title {
                    text-align: center;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 25px;
                    padding-bottom: 10px;
                }
            }
            &-title {
                font-size: 24px;
                line-height: 36px;
                padding-top: 30px;
                margin-bottom: 20px;
                display: block;
            }
            &-bg {
                width: 240px;
                height: 150px;
                margin: 20px 10px;
            }
        }
    }
    // .canvas-mobile {
    //     display: block;
    // }
}

@media screen and (max-width: 520px) {
    .personal__details {
        flex-direction: column;
        align-items: center;
        &-photo {
            margin: 10px auto;
            width: fit-content;
            img {
                margin: auto;
            }
        }
        &-title {
            margin: 60px 0px;
            width: fit-content;
            text-align: center;
        }
        &-welcome {
            margin: auto;
            line-height: 15px;
        }
        &-position {
            margin: auto;
            font-size: 16px;
            width: fit-content;
        }
        &-name {
            line-height: 50px;
        }
    }
}

@media screen and (max-width: 425px) {
    .mobile__skills {
        display: block;
    }

    .body {
        overflow-x: hidden;
    }
    .navbar {
        height: 56px;
        &-nav {
            z-index: 4;
        }
        &-brand {
            img{
                width: 50px;
                height: 35px;
            }
            .logo {
                width: 50px;
                height: 35px;
            }
        }
    }

    .navbar-toggler .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }

    .nav-item {
        border-bottom: 1px solid #6EAE7F;
    }

    .bg-nav {
        background: #FEFEFE;
        opacity: 0.9;
    }

    .introduction {
        height: fit-content;
        background-color: #FEFEFE;
    }

    .personal__details {
        &-mobile {
            display: block;
        }
        &-title {
            text-align: center;
            z-index: 2;
            position: absolute;
            top: 85px;
            padding-right: 25px;
        }
        &-welcome {
            font-size: 30px;
            line-height: 45px;
            width: 110px;
            height: 45px;
            margin-bottom: 0px;
            margin: auto;
        }
        &-name {
            font-size: 36px;
            line-height: 54px;
            width: 206px;
            height: 30px;
            margin: auto;
        }
        &-position {
            font-size: 20px;
            line-height: 30px;
            width: 206px;
            height: 30px;
            margin: 80px auto;
        }
        &-photo {
            display: none;
        }
    }

    .radius {
        margin-top: 25px;
        position: absolute;
    }

    .circle {
        position: absolute;
        left: 0px;
        top: 95px;
        z-index: 1;
        &__one {
            margin-left: 25px;
        }
    }

    .about-me {
        height: fit-content;
        margin-bottom: 25px;
        text-align: center;
        &__information {
            flex-direction: column;
        }
        &__title {
            font-size: 32px;
            line-height: 48px;
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
            width: 319px;
            margin: auto;
        }
        &__photo {
            margin: auto;
            img {
                width: 290px;
                height: 200px;
            }
        }
    }

    .experience {
        height: fit-content;
        padding-bottom: 20px;
    }

    .education {
        flex-wrap: wrap;
        height: fit-content;
        width: 320px;
        margin-top: 0px;
        &__item {
            border-bottom: 1px solid #6EAE7F;
            width: 290px;
            border-left: none;
            height: fit-content;
            padding: 10px;
            &-title {
                font-size: 20px;
                line-height: 30px;
            }
            &-text {
                margin-top: 20px;
                p {
                    font-size: 14px;
                    line-height: 21px;
                    margin-bottom: 3px;
                }
            }
        }
    }
    
    .education__item.border-right {
        border-right: none!important;
        height: fit-content;
        width: 290px;
        padding: 10px;
    }

    .text__wrap {
        font-size: 14px;
        line-height: 21px;
    }

    .works {
        height: fit-content;
        &__list {
            display: none;
        }
        &__title {
            font-size: 32px;
            line-height: 48px;
            padding: 40px 0px;
            margin-bottom: 20px;
        }
        &__item {
            img{
                width: 230px;
                height: 230px;
                margin: 4px;
            }
        }
    }

    .works__item:hover .works__item-upper {
        display: none;
    }

    .site__link-mobile {
        background: rgb(255, 255, 255);
        width: 230px;
        height: 40px;
        text-align: center;
        padding: 10px;
        position: absolute;
        margin: 4px;
        margin-top: 194px;
    }

    .components__rectangle {
        width: 250px;
        height: 260px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .mobile-carousel {
        display: block;
    }

    .myTeam {
        &__title {
            font-size: 32px;
            line-height: 48px;
            margin-top: 30px;
        }
        &__cards {
            display: none;
        }
        &__member {
            width: 240px;
            height: 320px;
            img {
                width: 160px;
                height: 160px;
            }
        }
    }

    .member {
        &__name {
            font-size: 20px;
            line-height: 30px;
            margin: 5px auto;
        }
        &__position {
            font-size: 14px;
            line-height: 21px;
        }
    }

    .components {
        margin-top: 40px;
    }

    .logo a {
        display: none;
    }

    .arrow {
        &-down {
            margin-top: 115px;
        }
        &__up {
            width: 18px;
            height: 23px;
            position: fixed;
            z-index: 7;
            right: 20px;
            top: 83%;
            margin: 8px 35px;
        }
    }

    .social {
        &__title {
            // margin: 4px auto;
            // display: block;
            // font-size: 14px;
            // line-height: 21px;
            // width: 87px;
            // height: 21px;
            display: none;
        }
        &__icon {
            justify-content: space-around;
            width: 280px;
            margin: 5px 0px;
        }
    }

    .icon {
        width: 34px;
        height: 34px;
        margin: 3px;
    }

    footer {
        height: fit-content;
        flex-direction: column;
    }

    .progress {
        &__line {
            span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                margin-left: 69px;
            }
            &_title {
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 30px;
            }
        }
        &__bg {
            width: 289px;
            height: 20px;
            margin: 20px auto;
        }
        &-value {
            &-first {
                animation: load 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 20px;
                width: 0;
            }
            &-second {
                animation: load2 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 20px;
                width: 0;
            }
            &-third {
                animation: load3 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 20px;
                width: 0;
            }
            &-four {
                animation: load4 3s normal forwards;
                box-shadow: 0 10px 40px -10px #fff;
                border-radius: 100px;
                background: #6EAE7F;
                height: 20px;
                width: 0;
            }
        }
    }
}
@media screen and (max-width: 394px) {
    .personal__details-title {
        padding-right: 0px;
        padding-left: 28px
    }
    .progress {
        &__line {
            span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                margin-left: 47px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .main {
        overflow-x: hidden;
    }

    .progress {
        &__line {
            span {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                margin-left: 21px;
            }
        }
    }

    .components__rectangle {
        width: 250px;
        height: 260px;
        margin-top: 40px;
        margin-bottom: 0px;
    }
}






}