* {
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}


@import "introduction/section_introduction.scss";
@import "description/section_description.scss";
@import "skills/section_skills.scss";
@import "education/section_education.scss";
@import "works/section_works.scss";
@import "team/section_team.scss";
@import "footer/footer.scss";
@import "media.scss";
