footer#contacts
    .logo
        a(href="http://")
            img(src="../assets/logo/logo.png", alt="logo-img")
    span.social__title Contact me:
    .social__icon
        a(href="https://www.facebook.com/profile.php?id=100005863362988" target="_blank")
            svg.icon
                symbol#facebook(viewBox="0 0 36 36")
                    g
                        path(d="M20.9023 35.7656C20.7524 35.7901 20.6019 35.8126 20.4508 35.8332C20.6019 35.8126 20.7524 35.7901 20.9023 35.7656Z")
                        path(d="M21.2624 35.7041C21.1907 35.7173 21.119 35.7294 21.0474 35.7417C21.119 35.7294 21.1907 35.7173 21.2624 35.7041Z")
                        path(d="M20.0487 35.8833C19.8732 35.9031 19.6966 35.9207 19.5194 35.9355C19.6966 35.9207 19.8732 35.9031 20.0487 35.8833Z")
                        path(d="M20.3944 35.8411C20.3101 35.8523 20.2252 35.8628 20.1406 35.8727C20.2252 35.8628 20.3101 35.8523 20.3944 35.8411Z")
                        path(d="M21.7523 35.6069C21.6891 35.6204 21.6257 35.6339 21.5623 35.6468C21.6257 35.6339 21.6891 35.6204 21.7523 35.6069Z")
                        path(d="M22.9686 35.3049C22.9175 35.3195 22.8664 35.3332 22.8153 35.3475C22.8664 35.3332 22.9175 35.3195 22.9686 35.3049Z")
                        path(d="M22.6008 35.4053C22.5453 35.4198 22.4896 35.4347 22.4338 35.4487C22.4896 35.4347 22.5453 35.4201 22.6008 35.4053Z")
                        path(d="M22.1196 35.5256C22.0608 35.5394 22.0015 35.5523 21.9421 35.5655C22.0015 35.5523 22.0608 35.5394 22.1196 35.5256Z")
                        path(d="M19.5137 35.936C19.4189 35.944 19.3242 35.9511 19.2291 35.9575C19.3242 35.9511 19.4189 35.944 19.5137 35.936Z")
                        path(d="M36 18C36 8.06039 27.9396 0 18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C18.1057 36 18.2109 35.9978 18.3164 35.9959V21.9836H14.4492V17.4768H18.3164V14.1603C18.3164 10.314 20.6645 8.22052 24.0955 8.22052C25.7385 8.22052 27.1508 8.34302 27.5625 8.39767V12.4176H25.1966C23.33 12.4176 22.9686 13.3047 22.9686 14.6063V17.4768H27.4318L26.85 21.9836H22.9686V35.3046C30.4923 33.1477 36 26.2161 36 18Z" f)
                        path(d="M19.1893 35.96C19.002 35.972 18.8138 35.9817 18.6251 35.988C18.8138 35.9817 19.002 35.972 19.1893 35.96Z")
                        path(d="M18.6155 35.9885C18.5161 35.9922 18.4164 35.9949 18.3167 35.9967C18.4164 35.9949 18.5161 35.9922 18.6155 35.9885Z")
            svg.icon
                use(xlink:href="#facebook")
        a(href="https://www.instagram.com/_multikii_/?hl=ru" target="_blank")
            svg.icon
                symbol#instagram(viewBox="0 0 36 36")
                    g
                        path(d="M21.4453 18C21.4453 19.9028 19.9028 21.4453 18 21.4453C16.0972 21.4453 14.5547 19.9028 14.5547 18C14.5547 16.0972 16.0972 14.5547 18 14.5547C19.9028 14.5547 21.4453 16.0972 21.4453 18Z")
                        path(d="M26.0574 11.9043C25.8918 11.4555 25.6275 11.0493 25.2842 10.7159C24.9508 10.3726 24.5448 10.1083 24.0958 9.94272C23.7316 9.80127 23.1844 9.6329 22.1767 9.58704C21.0866 9.53732 20.7598 9.52661 18 9.52661C15.24 9.52661 14.9131 9.53705 13.8233 9.58676C12.8156 9.6329 12.2682 9.80127 11.9042 9.94272C11.4552 10.1083 11.049 10.3726 10.7158 10.7159C10.3725 11.0493 10.1082 11.4553 9.94235 11.9043C9.8009 12.2685 9.63254 12.8159 9.58667 13.8236C9.53696 14.9135 9.52625 15.2403 9.52625 18.0004C9.52625 20.7601 9.53696 21.087 9.58667 22.1771C9.63254 23.1848 9.8009 23.7319 9.94235 24.0961C10.1082 24.5452 10.3722 24.9511 10.7155 25.2846C11.049 25.6279 11.4549 25.8921 11.904 26.0577C12.2682 26.1995 12.8156 26.3678 13.8233 26.4137C14.9131 26.4634 15.2397 26.4738 17.9997 26.4738C20.76 26.4738 21.0869 26.4634 22.1765 26.4137C23.1842 26.3678 23.7316 26.1995 24.0958 26.0577C24.9972 25.71 25.7097 24.9976 26.0574 24.0961C26.1988 23.7319 26.3672 23.1848 26.4133 22.1771C26.463 21.087 26.4735 20.7601 26.4735 18.0004C26.4735 15.2403 26.463 14.9135 26.4133 13.8236C26.3675 12.8159 26.1991 12.2685 26.0574 11.9043ZM18 23.3076C15.0686 23.3076 12.6922 20.9315 12.6922 18.0001C12.6922 15.0687 15.0686 12.6926 18 12.6926C20.9312 12.6926 23.3075 15.0687 23.3075 18.0001C23.3075 20.9315 20.9312 23.3076 18 23.3076ZM23.5173 13.7231C22.8323 13.7231 22.277 13.1678 22.277 12.4828C22.277 11.7978 22.8323 11.2424 23.5173 11.2424C24.2023 11.2424 24.7577 11.7978 24.7577 12.4828C24.7574 13.1678 24.2023 13.7231 23.5173 13.7231Z")
                        path(d="M18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C27.9396 36 36 27.9396 36 18C36 8.06039 27.9396 0 18 0ZM28.2736 22.2613C28.2236 23.3616 28.0486 24.1128 27.7932 24.7703C27.2563 26.1587 26.1587 27.2563 24.7703 27.7932C24.1131 28.0486 23.3616 28.2233 22.2616 28.2736C21.1594 28.3239 20.8073 28.3359 18.0003 28.3359C15.193 28.3359 14.8412 28.3239 13.7387 28.2736C12.6387 28.2233 11.8872 28.0486 11.2299 27.7932C10.54 27.5337 9.91544 27.1269 9.39908 26.6009C8.87338 26.0848 8.46661 25.46 8.20706 24.7703C7.95163 24.1131 7.77667 23.3616 7.72668 22.2616C7.67587 21.1591 7.66406 20.807 7.66406 18C7.66406 15.193 7.67587 14.8409 7.72641 13.7387C7.7764 12.6384 7.95108 11.8872 8.20651 11.2297C8.46606 10.54 8.87311 9.91516 9.39908 9.39908C9.91516 8.87311 10.54 8.46634 11.2297 8.20679C11.8872 7.95135 12.6384 7.77667 13.7387 7.72641C14.8409 7.67615 15.193 7.66406 18 7.66406C20.807 7.66406 21.1591 7.67615 22.2613 7.72668C23.3616 7.77667 24.1128 7.95135 24.7703 8.20651C25.46 8.46606 26.0848 8.87311 26.6012 9.39908C27.1269 9.91544 27.5339 10.54 27.7932 11.2297C28.0489 11.8872 28.2236 12.6384 28.2739 13.7387C28.3241 14.8409 28.3359 15.193 28.3359 18C28.3359 20.807 28.3241 21.1591 28.2736 22.2613Z")
            svg.icon
                use(xlink:href="#instagram")

        a(href="http://")
            svg.icon
                symbol#linkedin(viewBox="0 0 36 36")
                    g
                        path(d="M18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C27.9396 36 36 27.9396 36 18C36 8.06039 27.9396 0 18 0ZM12.7694 27.2109H8.38559V14.0221H12.7694V27.2109ZM10.5776 12.2212H10.5491C9.078 12.2212 8.12659 11.2085 8.12659 9.9429C8.12659 8.64871 9.10712 7.66406 10.6068 7.66406C12.1064 7.66406 13.0292 8.64871 13.0578 9.9429C13.0578 11.2085 12.1064 12.2212 10.5776 12.2212ZM28.5765 27.2109H24.1933V20.1552C24.1933 18.382 23.5585 17.1727 21.9724 17.1727C20.7614 17.1727 20.0402 17.9885 19.7232 18.7759C19.6073 19.0577 19.579 19.4516 19.579 19.8457V27.2109H15.1955C15.1955 27.2109 15.2529 15.2595 15.1955 14.0221H19.579V15.8895C20.1616 14.9908 21.2039 13.7126 23.5297 13.7126C26.4139 13.7126 28.5765 15.5976 28.5765 19.6485V27.2109Z")
            svg.icon
                use(xlink:href="#linkedin")
        a(href="mailto:alyona.narozhna@gmail.com")
            svg.icon
                symbol#email(viewBox="0 0 36 36")
                    g
                        path(d="M18.0006 0C8.05978 0 0.000976562 8.05904 0.000976562 17.9998C0.000976562 27.9404 8.05978 36 18.0006 36C27.9413 36 36.0007 27.9404 36.0007 17.9998C36.0007 8.05904 27.9413 0 18.0006 0ZM18.0009 6.32238L28.6526 12.9644H7.34925L18.0009 6.32238ZM28.7853 23.571H28.7842C28.7842 24.6364 27.9208 25.4997 26.8556 25.4997H9.14627C8.0809 25.4997 7.21761 24.6362 7.21761 23.571V13.3871C7.21761 13.2744 7.22913 13.1649 7.24785 13.0572L17.4249 19.4032C17.4374 19.411 17.4507 19.4163 17.4635 19.4235C17.477 19.431 17.4907 19.4382 17.5043 19.445C17.5762 19.4821 17.6503 19.512 17.726 19.5315C17.7338 19.5337 17.7416 19.5346 17.7494 19.5364C17.8324 19.556 17.9166 19.5682 18.0006 19.5682H18.0012C18.0018 19.5682 18.0024 19.5682 18.0024 19.5682C18.0864 19.5682 18.1705 19.5564 18.2535 19.5364C18.2613 19.5345 18.2691 19.5337 18.2769 19.5315C18.3525 19.512 18.4263 19.4821 18.4986 19.445C18.5122 19.4382 18.5259 19.431 18.5394 19.4235C18.5521 19.4163 18.5655 19.411 18.578 19.4032L28.7551 13.0572C28.7738 13.1649 28.7853 13.2742 28.7853 13.3871V23.571Z")
            svg.icon
                use(xlink:href="#email")
        a(href="https://twitter.com/multiikii_69" target="_blank")
            svg.icon
                symbol#twitter(viewBox="0 0 36 36")
                    g
                        path(d="M18 0C8.06039 0 0 8.06039 0 18C0 27.9396 8.06039 36 18 36C27.9396 36 36 27.9396 36 18C36 8.06039 27.9396 0 18 0ZM26.2186 14.0345C26.2266 14.2116 26.2304 14.3896 26.2304 14.5684C26.2304 20.0278 22.0748 26.3232 14.4753 26.3235H14.4756H14.4753C12.1421 26.3235 9.97092 25.6396 8.14252 24.4677C8.46579 24.5058 8.79483 24.5248 9.12799 24.5248C11.0638 24.5248 12.8452 23.8645 14.2594 22.7563C12.4508 22.7227 10.9259 21.5283 10.3997 19.8866C10.6515 19.935 10.9105 19.9613 11.1761 19.9613C11.5532 19.9613 11.9185 19.9105 12.2657 19.8158C10.3752 19.4373 8.95111 17.7665 8.95111 15.7659C8.95111 15.7473 8.95111 15.7305 8.95166 15.7132C9.50839 16.0227 10.1451 16.209 10.8229 16.2298C9.71356 15.4896 8.98434 14.2243 8.98434 12.7908C8.98434 12.0339 9.18896 11.3247 9.54382 10.7141C11.5812 13.2141 14.6261 14.8582 18.0599 15.0309C17.989 14.7283 17.9525 14.413 17.9525 14.0889C17.9525 11.8081 19.8029 9.95773 22.0844 9.95773C23.2729 9.95773 24.3463 10.4601 25.1002 11.2632C26.0414 11.0775 26.9253 10.7336 27.7237 10.2604C27.4147 11.2247 26.7599 12.0339 25.9069 12.5456C26.7426 12.4456 27.5392 12.2239 28.2794 11.8949C27.7265 12.7235 27.0253 13.4514 26.2186 14.0345Z")
            svg.icon
                use(xlink:href="#twitter")
    .arrow__up
        a(href="#introduction")
            img(src="../assets/images/up.png", alt="arrow-up")