footer {
    width: 100%;
    height: 100px;
    background: #FEFEFE;
    display: flex!important;
    align-items: center;
}

.social {
    &__title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: #444444;
        margin-left: 312px;
    }
    &__icon {
        width: 390px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 52px;
        margin-bottom: 2.8%;
    }
}

.arrow__up {
    width: 48px;
    height: 48px;
    margin-right: 55px;
    margin-left: 67px;
}

footer .logo {
    margin-left: 155px;
}

.icon {
    fill: #444444;
    width: 36px;
    height: 36px;
}

.icon:hover {
    fill: #6EAE7F;
}

